<!DOCTYPE html>
<html>
<head>
    <title>Index Ujian Praktikum MochamadArifqiRamadhan_1174074</title>
</head>
    <body>
        <h1>Welcome! _MochamadArifqiRamadhan_1174074</h1>
        <h2>Go to <a href="{% url 'users_1174074'%}">User_1174074</a> to see the list of user information</h2>
    </body>
</html>